<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/headers') %>
        <link rel="stylesheet" href="css/courses.css">
    </head>

    <body>
        <section id="courses-container" class="z-depth-2">
            <h3 class="center-align">Courses</h3>
            <table>
                <thead>
                    <tr>
                        <th>Course Name</th>
                        <th>Course Description</th>
                        <th>Instructor Name</th>
                        <th>Credit Hours</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Alvin</td>
                        <td>Eclair</td>
                        <td>$0.87</td>
                        <td>$0.87</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </body>
</html>