<!DOCTYPE html>
<html>
<head>
    <title>home</title>
    <%- include('./partials/headers') %>
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <section id="forms-container" class="z-depth-2">
        <div>
            <div class="switch center-align">
                <label style="font-size: 2.4rem">
                    Login
                    <input id="form-toggle" type="checkbox">
                    <span class="lever"></span>
                    Register
                </label>
            </div>
            <div id="login-form-container" class="form-container">
                <form id="login-form">
                    <div class="input-field">
                        <label for="username">Username</label>
                        <input type="text" name="username" class="form-control" required/>
                    </div>
                    <div class="input-field">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" required/>
                    </div>
                    <div class="right-align">
                        <div id="login-errors" class="left-align">
                            <ul>
                            </ul>
                        </div>
                        <button type="submit" class="waves-effect waves-light btn">Login</button>
                    </div>
                </form>
            </div>
            <div id="register-form-container" class="form-container">
                <form id="register-form">
                    <div class="input-field">
                        <label for="username">Username</label>
                        <input type="text" name="username" required/>
                    </div>

                    <div class="input-field">
                        <label for="email">Email</label>
                        <input type="email" name="email" required/>
                    </div>

                    <div class="input-field">
                        <label for="password">Password</label>
                        <input type="password" name="password" required/>
                    </div>

                    <div class="right-align">
                        <div id="register-errors" class="left-align">
                            <ul>
                            </ul>
                        </div>
                        <button type="submit" class="waves-effect waves-light btn">Register</button>
                    </div>
                </form>
            </div>
        </div>

    </section>
</body>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/home.js"></script>

</html>
