#forms-container {
  width: 600px;
  height: 310px;
  padding: 20px;
  margin: 10% auto 0 auto;
  background: #fff;
  position: relative;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}

#forms-container.register {
  height: 400px;
}

#forms-container.register #register-form-container {
  transform: translateX(0);
}

#forms-container.register #login-form-container {
  transform: translateX(-105%);
}

.form-container {
  position: absolute;
  width: 560px;
  transition: 0.5s ease-in-out;
}

#register-form-container {
  transform: translateX(105%);
}

#login-form-container {
  transform: translateX(0);
}

#login-errors, #register-errors {
  float: left;
  visibility: hidden;
}

#login-errors.active, #register-errors.active {
  visibility: visible;
}

#login-errors ul, #register-errors ul {
  color: red;
  margin: 0;
  padding: 0;
}